a {
    color: #666;
    text-decoration: none;
}

#container {
    width: 740px;
    background: #fff;
    margin: auto;
}


.jumbotron {
    background-image: "../assets/images/mykitchenlogo.png";
    background-size: cover;
    color: white;
    }

section {
    padding: 30px 20px 20px 20px;
}

#search-btn {
    margin-top: 5px;
}

#results li {
    padding: 10px 0;
    border-bottom: 1px dotted #ccc;
    list-style: none;
    overflow: auto;
}
.list-left {
    float: left;
    width: 20%;
}
.list-left img {
    width: 100%;
    padding: 3px;
    border: 1px solid #ccc;
}

.list-right {
    float: right;
    width: 78%;
}

.list-right h3 {
    margin: 0;
}

.list-right p {
    margin: 0;
}

.paging-button {
    background: #f4f4f4;
    padding: 0 13px;
    border: #ccc 1px solid;
    border-radius: 5px;
    color: #333;
    margin: 10px;
    cursor: pointer;
}
#item2,#item3{margin-left:10px;}
.card1 {
    width: 18rem;
    float: left;
}

.card-img-top {
    height: 200px;
}
#none{display:none;}
.list-left .fav img{width:20px;height:20px;}
.fav img{width:30px;height:30px;}
.fav { display: none; }
.product:hover .fav{ display: block; width:150px;height:30px;z-index:1;margin-top:20px;position: absolute;background:#f3f3f3;cursor:pointer;}
.list-left:hover .fav{ display: block; width:100px;height:20px;z-index:1;margin-top:20px;font-size:10px;position: absolute;background:#f3f3f3;cursor:pointer;}

.favdel img{width:30px;height:30px;}
.favdel { display: none; }
.product:hover .favdel{ display: block; width:30px;height:30px;z-index:1;margin-top:20px;position: absolute;background:#f3f3f3;cursor:pointer;}
.list-left:hover .favdel{ display: block; width:30px;height:20px;z-index:1;margin-top:20px;font-size:10px;position: absolute;background:#f3f3f3;cursor:pointer;}
